.contact-main-container{
  /* background-color: lightblue; */
  padding-top:70px;
  padding-left:16px;
  padding-right: 26px;
}
.input-sample{
  display: block;
  width: 99%;
  font-size: 15px;
  padding: 11px 8px;
  font-weight: 400;
  color: gray;
  margin-bottom: 17px;
  border:1px solid #ccc;
}
.send-button{
  background-color: black;
  color: white;
  border:none;
  font-size: 15px;
  padding:12px 17px;
  margin-top:15px;
  cursor: pointer;
}
.send-button:hover{
  color: black;
  background-color: #ccc;
}
.map-image{
  width: 100%;
  margin-top: 50px;
}
footer{
  background-color: black;
  color: white;
  width: 100%;
  margin: top -17px;
  text-align: center;
  padding:16px 0px;
}
footer span{
  text-decoration: underline;
}