body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    /* letter-spacing: 4px; */
    margin:0;
    padding: 0;
    height: 3000px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}